@inject IHttpContextAccessor contextAccessor

@{
    ViewData["Title"] = "Shopping Cart";
}

<div class="text-center">
    <h2>Shopping Cart</h2>

    <ul>
        <li>Student ID: @contextAccessor.HttpContext.Session.GetInt32("StudentId")</li>
        <li>Student Name: @contextAccessor.HttpContext.Session.GetString("StudentName")</li>        
    </ul>
</div>