.user-select-none {
    user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

/* ===========
Product Single Card - Start
============= */
.product-single-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #cccccc40;
    transition: 0.5s ease-in;
    /* background-color: red; */
}

    .product-single-card:hover {
        -webkit-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
        -moz-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
        box-shadow: 1px 1px 28.5px -7px #d6d6d6;
    }

    .product-single-card .product-info {
        padding: 15px 0 0 0;
    }

    .product-single-card .product-top-area {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
    }

        .product-single-card .product-top-area .product-discount {
            position: absolute;
            top: 10px;
            left: 10px;
            background: white;
            border-radius: 3px;
            padding: 5px 10px;
            box-shadow: 1px 1px 28.5px -7px #dddddd;
            user-select: none;
            z-index: 999;
        }

    .product-single-card .product-info .product-category {
        font-weight: 600;
        opacity: 60%;
    }

    .product-single-card .product-info .product-title {
        font-size: 16px;
        font-weight: 600;
    }

    .product-single-card .product-info .old-price,
    .product-single-card .product-info .new-price {
        padding-right: 10px;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .product-single-card .product-info .old-price {
        text-decoration: line-through;
        opacity: 70%;
    }
/* ===========
Product Single Card - End
============= */
