.user-select-none {
    user-select: none;
}

a {
    text-decoration: none;
    color: unset;
}

/* ===========
Product Single Card - Start
============= */
.product-single-card {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #cccccc40;
    transition: 0.5s ease-in;
    /* background-color: red; */
}

    .product-single-card:hover {
        -webkit-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
        -moz-box-shadow: 1px 1px 28.5px -7px #d6d6d6;
        box-shadow: 1px 1px 28.5px -7px #d6d6d6;
    }

    .product-single-card .product-top-area {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
    }

        .product-single-card .product-top-area .product-discount {
            color: white;
            position: absolute;
            top: 10px;
            left: 10px;
            background: #247291;
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 999;
            padding: 10px;
            box-sizing: border-box;
        }

    .product-single-card .product-info .product-category {
        opacity: 60%;
    }

    .product-single-card .product-info .product-title {
        font-weight: 600;
    }

    .product-single-card .product-info .old-price {
        text-decoration: line-through;
        opacity: 70%;
    }

@media (min-width: 992px) { 
    .card-bottom {
        height: 4rem;
    }
}

/* ===========
Product Single Card - End
============= */
