@model int

<a class="nav-link text-dark btn btn-sm position-relative" asp-area="" asp-controller="ShoppingCarts" asp-action="GetCartItems">
    <i class="bi bi-cart h4"></i>
    @if (Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
            <span class="visually-hidden">different products</span>
        </span>
    }
</a>
