@model WebShopClient.ViewModels.OrderConfirmationViewModel

@{
    ViewData["Title"] = "Order Confirmation";    
}

<div class="container">
    <h2>Order Confirmation</h2>

    <div>
        <p>Your order has been successfully placed. Thank you for shopping with us!</p>
    </div>

    <div>
        <h3>Order Details</h3>
        <p><strong>Order Number:</strong></p>
        <p><strong>Order Date:</strong></p>
        <p><strong>Total Sum:</strong></p>

        <h4>Products Purchased</h4>
        <ul>
            @* @foreach(var item in Model.OrderItems)
            {                
                <li>@item.ProductName (x(@item.Quantity)) | @item.Price</li>
            }   *@          
        </ul>

        <h4>Delivery Information</h4>
        <p><strong>Shipping Address:</strong></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <br />
        <p><strong>Estimated Delivery Date:</strong></p>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Products">Back to Shopping</a>
    </div>
</div>
